*.swp
*.log
public_html/
node_modules/
allnations/*.xml
allnations/t.js
allnations/doc/.*
server/bin/*.watch
server/bin/.last_req
server/node_modules/
server/bower_components/
server/public/js/bundle*
server/bin/xml/
server/semantic
server/dist/img/allnations/
