doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title Produts allNations
    link(rel="stylesheet" href="/semantic/dist/semantic.min.css" charset="utf-8")
  body
    #app
      menu-products
      products-allnations
      products-detail-allnations
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/semantic/dist/semantic.min.js")
    script(src='/bundle_productsAllNations.js')
