doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title app2
  body
    div
      h1 Primeira linhas-2221
    div#app
      p {{msg}}
    div
      h1 Segunda linha
    script(src='/bundleJ.js')
