doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title app2
  body
    div
      h1 Primeira linhas-222
    div#app2
      p {{msg}}
    div
      h1 Segunda linha
    != LRScript
    script(src='/bundleJ.js')
