doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title app2
  body
    div
      h1 Primeira linhas-222
    div#app
      p {{msg}}
      j-app
    div
      h1 Segunda linha
    script(src='/bundleJ.js')
