doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title app2
  body
    div
<<<<<<< HEAD
      h1 Primeira linhas-222
=======
      h1 Primeira linhas-2
>>>>>>> 1ff0c3d4b32a1e1b167305c7455b8d5469482647
    div#app2
      p {{msg}}
    div
      h1 Segunda linha
    != LRScript
    script(src='/bundleJ.js')
