extends productsLayout.pug

block head
  link(rel="stylesheet" href="/css/productsStore.css" charset="utf-8")
  title Produtos Hard Plus

block content_tr
  tr
    //- th.text-capitalize id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('code-store')") Hardplus id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealer')") Revendedor
    th.text-capitalize.text-left.clickable(@click="selectColOrder('stockLocation')") local
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealerCode')") Rev Id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealerCode')") Rev Titulo
    th.text-capitalize.text-left.clickable(@click="selectColOrder('stockQtd')") estoque
    th.text-capitalize.text-left.clickable(@click="selectColOrder('priceNum')") preço
  tr(
    v-for="product in products"
  )
    //- td {{$index + 1}}
    td.clickable.text-left(@click="openInfo(product)" v-bind:data-code="product.code" data-toggle="modal" data-target="#prd-info") {{product.storeProductId}}
    td.text-left {{product.dealer}}
    td.text-left {{product.dealerProductLocation}}
    td.text-left {{product.dealerProductId}}
    td.text-left {{product.dealerProductTitle}}
    td.text-left {{product.dealerProductQtd}}
    td.text-left {{product.dealerProductPrice | currency}}

block modal_header
  h4.modal-title {{productInfo.dealerProductTitle}}

block modal_body
  .form-group
    label(for='title') Título
    input.form-control(id='title')
  .form-group
    label(for='image') Image
    input(id='image' type='file')
  .form-group
    label(for='location') Localização
    input(id='location')
  .form-group
    label(for='desc-primariy') Descrição primária
    input.form-control(id='desc-primariy')
  .form-group
    label(for='desc-complete') Descrição completa
    input.form-control(id='desc-complete')
  .form-group
    label(for='maker') Fabricante
    input.form-control(id='maker')
  .form-group
    label(for='category') Categoria
    input.form-control(id='category')
  .form-group
    label(for='warranty') Garantia (dias)
    input.form-control(id='warranty')
  .form-group
    label(for='warranty-detail') Garantia - observação
    input.form-control(id='warranty-detail')
  .form-group
    label(for='price') Preço (fornecedor)
    input.form-control(id='price')


  //- dl.dl-horizontal
  //-   dt Descrição primária
  //-   dd {{productInfo.storeTitle}}
  //-   dt Descrição completa
  //-   dd {{productInfo.storeTitle}}
  //-   dt Fabricante
  //-   dd {{productInfo.storeTitle}}
  //-   dt Tag
  //-   dd {{productInfo.storeTitle}}
  //-   dt Garantia (tempo)
  //-   dd {{productInfo.storeTitle}}
  //-   dt Garantia (observação)
  //-   dd {{productInfo.storeTitle}}
  //-   dt Preço
  //-   dd {{productInfo.dealerProductPrice}}
  //-   dt Lucro
  //-   dd {{productInfo.dealerProductPrice}}
  //-   dt Desconto
  //-   dd {{productInfo.dealerProductPrice}}
  //-   dt Estoque quantidade
  //-   dd {{productInfo.dealerProductQtd}}

block modal_footer
  .row
    .col-xs-6
      //- Commercialize
      .form-group(v-if="!productInfo.market")
        .input-group
          .span.input-group-btn
            button.btn.btn-success(
              @click="setCommercialize(productInfo, true, inputChangIdStore)" type="button") Comercializar
          input.form-control(v-model="inputChangIdStore" type="text" placeholder="Id Hardplus")
      //- Change id store to reference
      .form-group(v-if="productInfo.market")
        .input-group
          span.input-group-btn
            button.btn.btn-success(@click="setProductIdStore(productInfo, inputChangIdStore)" type="button") Alterar Id
          span
            input.form-control(v-model="inputChangIdStore" type="text" placeholder="Id Hardplus")
    .col-xs-6
      //- Not commercialize
      .form-group(v-if="productInfo.market")
        button.btn.btn-warning(@click="setCommercialize(productInfo)" type="button") Não-Comercializar
      //- close
      .form-group
        button.btn.btn-default(type="button" data-dismiss="modal") Close

block bundle
  script(src="../js/bundleProductsStore.js")
