extends productsLayout.pug

block head
  link(rel="stylesheet" href="/css/productsStore.css" charset="utf-8")
  title Produtos Hard Plus

block content_tr
  tr
    //- th.text-capitalize id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('code-store')") Hardplus id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealer')") Revendedor
    th.text-capitalize.text-left.clickable(@click="selectColOrder('stockLocation')") local
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealerCode')") Rev Id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealerCode')") Rev Titulo
    th.text-capitalize.text-left.clickable(@click="selectColOrder('stockQtd')") estoque
    th.text-capitalize.text-left.clickable(@click="selectColOrder('priceNum')") preço
  tr(
    v-for="product in products"
  )
    //- td {{$index + 1}}
    td.clickable.text-left(@click="openInfo(product)" v-bind:data-code="product.code" data-toggle="modal" data-target="#prd-info" v-bind:title='product.dealerProductTitle') {{product.storeProductId}}
    td.text-left {{product.dealer}}
    td.text-left {{product.dealerProductLocation}}
    td.text-left {{product.dealerProductId}}
    td.text-left {{product.dealerProductTitle}}
    td.text-left {{product.dealerProductQtd}}
    td.text-left {{product.dealerProductPrice | currency}}

block modal_header
  h4.modal-title {{productInfo.dealerProductTitle}}

block modal_body
  .form-group
    label(for='title') Título
    input.form-control(id='title' v-model='productInfo.dealerProductTitle')
  .form-group
    label(for='image') Image
    input(id='image' type='file')
  .form-group
    label(for='desc-primariy') Descrição primária
    textarea.form-control(id='desc-primariy' v-model='productInfo.storeProductDescPrimary')
  .form-group
    label(for='desc-complete') Descrição completa
    textarea.form-control(id='desc-complete' v-model='productInfo.storeProductDescComplete')
  .form-group
    label(for='maker') Fabricante
    input.form-control(id='maker')
  .form-group
    label(for='category') Categoria
    input.form-control(id='category')
  .form-group
    label(for='warranty') Garantia (dias)
    input.form-control(id='warranty')
  .form-group
    label(for='warranty-detail') Garantia - observação
    input.form-control(id='warranty-detail')
  .form-group
    label(for='price') Preço (fornecedor)
    input.form-control(id='price')
  .form-group
    label(for='markup') Preço (Lucro)
    input.form-control(id='markup')
  .form-group
    label(for='discount') Desconto
    input.form-control(id='discount' v-model='productInfo.storeProductDiscount')
    input(type='checkbox' v-model='productInfo.storeProductDiscountEnable' id='discountEnable')
    label(for='discountEnable') Usar desconto
  .form-group
    label(for='stockQtd') Estoque
    input.form-control(id='stockQtd')
  .form-group
    input(type='checkbox' v-model='productInfo.storeProductCommercialize' id='commercialize')
    label(for='commercialize') Comercializar

block modal_footer
  .row
    .col-xs-6
    .col-xs-6
      //- save
      .form-group
        button.btn.btn-success(@click="saveProductStore(productInfo, {storeProductId: inputStoreProductId, commercialize: false})" type="button") Save
      //- close
      .form-group
        button.btn.btn-default(type="button" data-dismiss="modal") Close

block bundle
  script(src="../js/bundleProductsStore.js")
