extends productsLayout.pug

block head
  link(rel="stylesheet" href="/css/productsStore.css" charset="utf-8")
  title Produtos Hard Plus

block content_tr
  tr
    //- th.text-capitalize id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('code-store')") Hardplus id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealer')") Revendedor
    th.text-capitalize.text-left.clickable(@click="selectColOrder('stockLocation')") local
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealerCode')") Rev Id
    th.text-capitalize.text-left.clickable(@click="selectColOrder('dealerCode')") Rev Titulo
    th.text-capitalize.text-left.clickable(@click="selectColOrder('stockQtd')") estoque
    th.text-capitalize.text-left.clickable(@click="selectColOrder('priceNum')") preço
  tr(
    v-for="product in products"
  )
    //- td {{$index + 1}}
    td.clickable.text-left(@click="openInfo(product)" v-bind:data-code="product.code" data-toggle="modal" data-target="#prd-info" v-bind:title='product.dealerProductTitle') {{product.storeProductId}}
    td.text-left {{product.dealer}}
    td.text-left {{product.dealerProductLocation}}
    td.text-left {{product.dealerProductId}}
    td.text-left {{product.dealerProductTitle}}
    td.text-left {{product.dealerProductQtd}}
    td.text-left {{product.dealerProductPrice | currency}}

block modal_header
  h4.modal-title {{productInfo.dealerProductTitle}}

block modal_body
  form
    .form-group
      label(for='title') Título
      input.form-control(id='title' v-model='productInfo.dealerProductTitle')
    .form-group
      label(for='image') Image
      input(type='file' id='image')
    .form-group
      label(for='desc-primariy') Descrição primária
      textarea.form-control(id='desc-primariy' v-model='productInfo.storeProductDescPrimary')
    .form-group
      label.control-label(for='desc-complete') Descrição completa
      textarea.form-control(id='desc-complete' v-model='productInfo.storeProductDescComplete')
    .form-group
      .row
        .col-xs-6
          label(for='maker') Fabricante
          input.form-control(id='maker' v-model='productInfo.storeProductMaker')
        .col-xs-6
          label(for='category') Categoria
          input.form-control(id='category' v-model='productInfo.storeProductCategory')
    .form-group
      .row
        .col-xs-6
          label(for='warranty') Garantia (dias)
          input.form-control(id='warranty' v-model='productInfo.storeProductWarrantyDays')
        .col-xs-6
          label(for='warranty-detail') Garantia - observação
          input.form-control(id='warranty-detail' v-model='productInfo.storeProductWarrantyDetail')
    .form-group
      .row
        .col-xs-4
          label(for='price') Preço (fornecedor)
          input.form-control(value='{{productInfo.dealerProductPrice}}' disabled id='price')
        .col-xs-4
          label(for='markup') Lucro (%)
          input.form-control(v-model.number='productInfo.storeProductMarkup' id='markup')
        .col-xs-4
          label(for='discount') Desconto (valor ou %)
          input.form-control(v-model='productInfo.storeProductDiscount' id='discount')
    .checkbox
      label
        input(type='checkbox' v-model='productInfo.storeProductDiscountEnable')
        | Usar desconto
    .form-group
      .row
        .col-xs-6
          label(for='discount') Preço final sem desconto
          input.form-control(id='discount' value='{{finalPrice}}' disabled)
        .col-xs-6
          label(for='discount') Preço final com desconto
          input.form-control(id='discount' value='{{finalPriceDiscount}}' disabled)

    .form-group
      label(for='stockQtd') Estoque
      input.form-control(id='stockQtd' value='{{productInfo.dealerProductQtd}}' disabled)
    .checkbox
      label
        input(type='checkbox' v-model='productInfo.storeProductCommercialize')
        | Comercializar

block modal_footer
  .row
    .col-xs-6
    .col-xs-6
      //- save
      .form-group
        button.btn.btn-success(@click="saveProductStore(productInfo)" type="button") Save
      //- close
      .form-group
        button.btn.btn-default(type="button" data-dismiss="modal") Close

block bundle
  script(src="../js/bundleProductsStore.js")
