doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title semantic test
    link(rel="stylesheet" href="/semantic/dist/semantic.min.css" charset="utf-8")
    //- link(rel="stylesheet" href="/css/pStore.css" charset="utf-8")
  body
    div
      h1 Primeira linhas-222
    div#app
      button.ui.button click-me
      button.ui.button.primary click-me
      button.ui.button.secondary click-me
    .ui.divider
    .ui.three.column.centered.grid
      .column
        .ui.small.floating.message
          p Just a message
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/semantic/dist/semantic.min.js")
    script(src='/bundlePStore.js')
