doctype html
html(lang="en")
  head
    meta(charset='utf-8')
    title #{title}
    link(rel="stylesheet" href="/semantic/dist/semantic.min.css" charset="utf-8")
  body
    //- .ui.center.aligned.container
    //-   .ui.four.cards
    //-     .ui.card
    //-       a.image(href='#')
    //-         img(src='/img/allnations/products/0063220/dealer-img-01.jpeg')
    //-       .content
    //-         a.header(href='#') Produto a
    //-         .meta R$ 45,56
    //-     .ui.card
    //-       a.image(href='#')
    //-         img(src='/img/allnations/products/0063220/dealer-img-01.jpeg')
    //-       .content
    //-         a.header(href='#') Produto a
    //-         .meta R$ 45,56
    //-     .ui.card
    //-       a.image(href='#')
    //-         img(src='/img/allnations/products/0063220/dealer-img-01.jpeg')
    //-       .content
    //-         a.header(href='#') Produto a
    //-         .meta R$ 45,56
    //-     .ui.card
    //-       a.image(href='#')
    //-         img(src='/img/allnations/products/0063220/dealer-img-01.jpeg')
    //-       .content
    //-         a.header(href='#') Produto a
    //-         .meta R$ 45,56
    //-
    #app
      store
    script(src="/bower_components/jquery/dist/jquery.min.js")
    script(src="/semantic/dist/semantic.min.js")
    script(src='/bundleStore.js')
