doctype html
html
  head
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge")
    meta(name="viewport" content="width=device-width, initial-scale=1")
    link(rel="stylesheet" href="/css/tt.css" charset="utf-8")
    title Usando componente

  body
    div#app-7
      ol
        todo-item(v-for='item in groceryList' v-bind:todo='item')
        li  Hummmmm...

    script(src="../js/bundleTt.js")
