/*body {
  padding-top: 70px;
}*/

th.clickable, td.clickable {
   cursor: pointer;
}
tr.market {
  background-color: #D9EDF7;
}
td.market-in {
  background-color: #DFF0D8;
}
td.market-off {
  background-color: #FCF8E3;
}
td.market-out {
  background-color: #F2DEDE;
}
