<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Allnations Produtos</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
  <link rel="stylesheet" href="/css/allnations.css" charset="utf-8">
</head>
<body  id="products">
  <!-- navigation -->
  <nav class="navbar navbar-default navbar-static-top">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Allnations</a>
    </div><!-- .navbar-header  -->
    <div id="navbar" class="navbar-collapse collapse">
      <form class="navbar-form navbar-right">
        <div class="form-group">
          <input v-model="filterName" type="text" class="form-control">
        </div>
      </form>
    </div><!-- .navbar-collapse -->
  </div>
  </nav>
  <!-- navigation -->

  <!-- content -->
  <div class="container"
    <div class="row">
      <div class="col-xs-12">
        <table class="table table-condensed">
          <tr>
            <!-- <th class="text-capitalize">id</th> -->
            <th @click="selectColOrder('desc')" class="text-capitalize clickable">descrição</th>
            <th @click="selectColOrder('stockQtd')" class="text-capitalize clickable">estoque</th>
            <th @click="selectColOrder('priceNum')" class="text-capitalize text-right clickable">preço</th>
            <th @click="selectColOrder('available')" class="text-capitalize text-right clickable">disp</th>
            <th @click="selectColOrder('code-store')" class="text-capitalize text-right clickable">Loja</th>
          </tr>
          <!-- <tr v-for="product in products | orderBy orderCol order | filterBy '1' in 'available' | filterBy filterName in 'desc' 'currency'"> -->
          <tr
            v-for="product in products | orderBy orderCol order | filterBy filterName in 'desc'"
            :class="{
              'market': product.market,
              'available-prd': product.available,
              'active-prd': product.active,
              'stock-prd': product.stockQtd > 1 }">
            <!-- <td>{{$index + 1}}</td> -->
            <td @click="openInfo($event)" v-bind:data-code="product.code" class="clickable" data-toggle="modal" data-target="#prd-info">{{product.desc}}</td>
            <td class="text-right">{{product.stockQtd}}</td>
            <td class="text-right">{{product.price | currency}}</td>
            <td class="text-right">{{product.available && product.active ? 'Sim' : 'Não'}}</td>
            <td class="text-right">{{product.idStore ? product.idStore : ''}}</td>
          </tr>
        </table>
      </div>
    </div>
  </div><!-- container -->
  <!-- content -->

  <!-- modal -->
  <div id="prd-info" class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
          <h4 class="modal-title">{{productInfo.desc}}</h4>
        </div>
        <div class="modal-body">
          <dl class="dl-horizontal">
            <dt>Código</dt>
            <dd>{{productInfo.code}}</dd>
            <dt>Localização</dt>
            <dd>{{productInfo.stockLocation}}</dd>
            <dt>Última atualização</dt>
            <dd>{{productInfo.ts}}</dd>
            <dt>Ativo</dt>
            <dd>{{productInfo.active ? 'Ativo' : 'Inativo'}}</dd>
            <dt>Disponibilidade</dt>
            <dd>{{productInfo.available ? 'Disponível' : 'Indisponível'}}</dd>
            <dt>Preço</dt>
            <dd>{{productInfo.price | currency}}</dd>
            <dt>Descrição</dt>
            <dd>{{productInfo.tecDesc}}</dd>
            <dt>Departamento</dt>
            <dd>{{productInfo.department}}</dd>
            <dt>Categoria</dt>
            <dd>{{productInfo.category}}</dd>
            <dt>Sub-categoria</dt>
            <dd>{{productInfo.subCategory}}</dd>
            <dt>Fabricante</dt>
            <dd>{{productInfo.manufacturer}}</dd>
            <dt>Número do produto</dt>
            <dd>{{productInfo.partNum}}</dd>
            <dt>EAN</dt>
            <dd>{{productInfo.ean}}</dd>
            <dt>Garantia</dt>
            <dd>{{productInfo.warranty}} {{productInfo.warranty | pluralize 'mes' 'meses'}}</dd>
            <dt>Peso</dt>
            <dd>{{productInfo.weight}}kg</dd>
            <dt>Largura</dt>
            <dd>{{productInfo.width}}cm</dd>
            <dt>Altura</dt>
            <dd>{{productInfo.height}}cm</dd>
            <dt>Profundidade</dt>
            <dd>{{productInfo.deep}}cm</dd>
            <dt>Imagem</dt>
            <dd><img v-if="productInfo.urlImg" @click="changePic()" v-bind:src="productInfo.urlImg + '-0' + picId" v-bind:alt="productInfo.desc" /></dd>
            <dt>NCM</dt>
            <dd>{{productInfo.ncm}}</dd>
            <dt>Imposto</dt>
            <dd>{{productInfo.taxReplace ? 'Incide ICMS ST' : 'Não incide ICMS ST'}}</dd>
            <dt>Origem</dt>
            <dd>{{productInfo.origin}}</dd>
          </dl>
        </div>
        <div class="modal-footer form-inline">
          <div class="row">
            <div class="col-xs-6">
              <!-- Commercialize -->
              <div class="form-group"
                v-if="!productInfo.market">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button
                      @click="setCommercialize(productInfo, true, inputChangIdStore)"
                      class="btn btn-success"
                      type="button">Comercializar</button>
                  </span>
                  <input v-model="inputChangIdStore" type="text" class="form-control" placeholder="Id Hardplus">
                </div>
              </div>
              <!-- Change id store to reference -->
              <div class="form-group"
                v-if="productInfo.market">
                <div class="input-group">
                  <span class="input-group-btn">
                    <button
                      @click="setProductIdStore(productInfo, inputChangIdStore)"
                      class="btn btn-success"
                      type="button">Alterar Id</button>
                  </span>
                  <input v-model="inputChangIdStore" type="text" class="form-control" placeholder="Id Hardplus">
                </div>
              </div>
            </div>
            <div class="col-xs-6">
              <!-- Not commercialize -->
              <div class="form-group"
                v-if="productInfo.market">
                <button
                  @click="setCommercialize(productInfo)"
                  type="button"
                  class="btn btn-warning">Não-Comercializar</button>
              </div>
              <!-- close -->
              <div class="form-group">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
              </div>
            </div>
          </div>
        </div>
      </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
  </div><!-- /.modal -->
  <!-- modal -->

</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/bundle.js"></script>

</html>
