<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Allnations Produtos</title>
  <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css" charset="utf-8">
</head>
<body>
  <div id="products" class="container-fluid">
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <h3 class="text-center text-capitalize">Allnations produtos</h3>
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      <div class="col-xs-2"></div>
      <div class="col-xs-8">
        <input v-model="filName">
      </div>
      <div class="col-xs-2"></div>
    </div>
    <div class="row">
      <div class="col-xs-1"></div>
      <div class="col-xs-10">
        <table class="table table-condensed">
          <tr>
            <th class="text-capitalize">id</th>
            <th @click="selectColOrder('desc')" class="text-capitalize">descrição</th>
            <th @click="selectColOrder('priceNum')" class="text-capitalize text-right">preço</th>
            <th @click="selectColOrder('available')" class="text-capitalize text-right">disponível</th>
          </tr>
          <tr v-for="product in products | orderBy orderCol order | filterBy '1' in 'available' | filterBy filName in 'desc' 'price'">
            <td>{{$index + 1}}</td>
            <td>{{product.desc}}</td>
            <td class="text-right">{{product.priceNum | currency}}</td>
            <td class="text-right">{{product.available}}</td>
          </tr>
        </table>
      </div>
      <div class="col-xs-1"></div>
    </div>
  </div><!-- container -->
</body>
<script src="/bower_components/jquery/dist/jquery.min.js"></script>
<script src="/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="js/bundle.js"></script>

</html>
